@font-face {
    font-family: $ffGillSansMT;
    src: url(../fonts/Gill_Sans_MT/GIL_____.TTF);
}

@font-face {
    font-family: $ffMontseratReg;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: $ffMontseratBold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: $ffMontseratSemiBold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: $ffMontseratExBold;
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: $ffRobotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: $ffRobotoReg;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: $ffRobotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: $ffRobotoBlack;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}