.footer {
    @include mainBlock($scWidth, 0 auto, flex, center);
    background-image: url("../img/bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-wrapper {
    position: relative;
    width: $conWidth;
    @include flex(center, inherit);
}

.footer-copyright {
    padding: 40px;

    &__text {
        @include font(20px, $ffRobotoReg, 400, $bg-color, uppercase, center, 1.2);
    }
}