// variables for colours

$bg-color: #eaeaea;
$subtitle-color:#959595;
$color-primary: #ef2e35;
$color-secondary: #282828;
$color-tertiary: #fff;

//variables for fonts

$ffGillSansMT: "Gill Sans MT";
$ffMontseratBold: "Montserrat";
$ffMontseratReg: "Montserrat";
$ffMontseratExBold:"Montserrat";
$ffMontseratSemiBold:"Montserrat";
$ffRobotoReg: "Roboto";
$ffRobotoLight:"Roboto";
$ffRobotoBlack:"Roboto";
$ffRobotoMedium:"Roboto";


// Others
$scWidth:100%;
$conWidth:1170px;